body {
    text-align: center;
    background-image: url(udacity.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
}
.main{
    width: 80vw;
    /*background-image: url(https://im-01.gifer.com/3grp.gif);*/
    /*background-size: cover;*/
    background-color: rgba(238, 239, 245, 0.7);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 1;
}

h1 {
    font-family: Monoton;
    font-size: 3em;
    font-weight: bold;
    margin: 0.2em;
}


h3 {
    font-family: Carter One;
    margin: 1em 0 0.25em;
}

h3:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 0.5px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border-width: 0;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
